# Enable rewriting
RewriteEngine On

# Rewrite requests to remove .php extension
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

# Redirect from /wp to root
RewriteCond %{REQUEST_URI} ^/wp [NC]
RewriteRule ^(.*)$ /$1 [R=301,L]

# Redirects
RewriteRule ^articulo$ single.php [L]
RewriteRule ^categoria$ category.php [L]

# Enable caching for one hour (3600 seconds)
<FilesMatch "\.(css|js|jpg|jpeg|png|gif|ico|woff|woff2|ttf)$">
    Header set Cache-Control "max-age=3600, public"
</FilesMatch>